@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
.header{
    font-family: 'Roboto Slab', serif;
    width: 100%;
    height: 80px;
    line-height: 70px;
}
.nav__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.logo img{
    width: 4rem;
    height: 2.5rem;
}
.logo h1{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color );
}
.menu{ 
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0px;
}
.nav__item a{
    color: var(--primary-color );
    font-weight: 500;
    cursor: pointer;
}
.nav__icons{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}
.nav__icons span i{
    font-size: 1.4rem;
    height: 30px;
    cursor: pointer;
}
.cart__icon, .fav__icon{
    position: relative;
}
.badge{
    position: absolute;
    top: 20%;
    right: 7%;
    width: 15px;
    height: 15px;
    content:'';
    background: var(--primary-color);
    color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 600;
    z-index: 10;
}
.auth{
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
    padding: 0px 5px 5px 5px;
}
.auth a{
    padding: 5px;
}
.nav__active{
    font-weight: 600 !important;
}
.sticky__header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
}
@media only screen and (max-width: 768px){
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.53);
        z-index: 9999;
        display: none;
    }
    .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        z-index: 99990;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .active__menu{
        display: block;
    }
    .mobile__menu{
        display: block;
    }
    .logo img{
        width: 1rem;
        height: 1rem;
    }
    .logo h1{
        font-size: 1rem; 
    }
    .fav__icon i, .cart__icon{
        font-size: 1.2rem !important;
    }
}